@use "./abstracts/abstracts";
@use "./abstracts/sizes";

@each $key, $color in $colors {
  .btn--#{$key} {
    background-color: $color;

    &:hover {
      background-color: lighten($color, 10%);
    }

    &:active {
      background-color: darken($color, 10%);
    }
  }
}

@each $item in $sizes {
  $itemIndex: index($sizes, $item);
  .btn--#{$item} {
    padding: 0.5rem 1rem;
    font-size: $itemIndex * 1rem;
  }
}
