body {
    text-align: center;
}

.button {
    cursor: pointer;
    border: 2px solid #000;
    background-color: transparent;
    height: 50px;
    width: 75px;
    font-size: 100%;
}

.gameArea {
    margin: 20px 0;
}

.score {
    color: skyblue;
}